<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>KOt List</ion-title>

    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

 
</ion-header>


<ion-content>
  
 

  <ion-list>
    <ion-card *ngFor="let kot of kotSource">
      <ion-item lines='full' color="tertiary">
        <ion-label>
          <h3>Bill No: {{kot.BillNo}}</h3>
          
          <p>Total Quantity: {{kot.Qty}}</p>
        </ion-label>
        <div>
          <p>{{kot.BillDate | date:'dd/MM/yyy'}}</p>
          <p>₹&nbsp;{{kot.Amount | number: '1.2-2'}}</p>
        </div>
       
      </ion-item>

      <ion-item *ngFor="let item of kot.child" lines='none'>
        <ion-label>
          <h3>{{item.ProductName}}</h3>
          <p>Quantity:  {{item.Qty}}</p>

        </ion-label>
        <p>₹&nbsp;{{item.Amount | number: '1.2-2'}}</p>
      </ion-item>
    </ion-card>
    
  </ion-list>
  
  
</ion-content>
