<ion-toolbar color='primary'>
    
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title *ngIf="!search">Orders</ion-title>
    
    <ion-buttons slot='end' *ngIf="!search">
      
      <ion-button (click)="search = true">
          <ion-icon name='search' slot='icon-only'></ion-icon>
        </ion-button>
      <!-- <ion-button>
          <ion-icon name='more' slot='icon-only'></ion-icon>
        </ion-button> -->
    </ion-buttons> 

    <ion-searchbar *ngIf="search" showCancelButton="always" (ionCancel)='Oncancel()' (ionInput)='fnSearch($event)'
    placeholder="Table Search.."></ion-searchbar>
  </ion-toolbar> 
  

<ion-content class="content_back">
    
<div class="drop_back">
    <ion-grid>
        <ion-row >
          <ion-col *ngFor="let item of tabDetail" size='2.4'>
            <ion-button expand="full" [color]="item.BillNo != 0 ? 'success' : 'light'" (click)="selectTableDetail(item)">
              {{item.TableDetails_Name}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
 </div>
</ion-content>
