

::ng-deep ion-toolbar {
    --min-height: 40px !important;
    ion-buttons {
        ion-menu-button {
            width: 44px;
            height: 44px;
        }
        
        ion-button {
            // width: 44px;
            height: 44px;
        }
    }
   
    ion-title {
        font-size: 15px;
    }
}
.wrapper-content {
    --background: #565a65;
    ion-list {
        background: transparent;
        ion-item {
            --background: transparent;
        }
    }
    .content_Sidebar {
        background-image: url('../assets/images/Hotel/bg-01.jpg');
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .subtitle {
            justify-items: center;
            display: grid;
            background: #1e202363;
            color: #fff;
            font-size: 26px;
            padding: 22px;
            border: 1px solid;
            letter-spacing: 5px;
            
            span:first-child {
                color: #ffffff;
                font-family: monospace;
            }
            span:last-child {
                color: #00e4ff;
            }
        }
    }
}
